USE [master]
GO
/****** Object:  Database [MyNetCoreDB]    Script Date: 2026/05/29 15:45:18 ******/
CREATE DATABASE [MyNetCoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyNetCoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MyNetCoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyNetCoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MyNetCoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyNetCoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyNetCoreDB]
GO
/****** Object:  Table [dbo].[Features]    Script Date: 2026/05/29 15:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Features](
	[FeatureID] [int] IDENTITY(1,1) NOT NULL,
	[FeatureCode] [nvarchar](100) NOT NULL,
	[FeatureName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 2026/05/29 15:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[HotelID] [int] IDENTITY(1,1) NOT NULL,
	[HotelName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HotelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 2026/05/29 15:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionCode] [nvarchar](50) NOT NULL,
	[PermissionName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 2026/05/29 15:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[HotelID] [int] NOT NULL,
	[RoomCode] [nvarchar](50) NULL,
	[RoomSquare] [int] NOT NULL,
	[IsActive] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPermissions]    Script Date: 2026/05/29 15:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermissions](
	[UserPermissionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FeatureID] [int] NOT NULL,
	[PermissionID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserPermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026/05/29 15:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](255) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSessions]    Script Date: 2026/05/29 15:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSessions](
	[UserSessionID] [bigint] IDENTITY(1,1) NOT NULL,
	[Sid] [nvarchar](200) NOT NULL,
	[UserID] [int] NOT NULL,
	[RefreshTokenHash] [nvarchar](500) NOT NULL,
	[DeviceID] [nvarchar](255) NULL,
	[DeviceName] [nvarchar](255) NULL,
	[IPAddress] [nvarchar](100) NULL,
	[UserAgent] [nvarchar](1000) NULL,
	[IsRevoked] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[LastActivityAt] [datetime] NULL,
	[ExpiredAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserSessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Features] ON 

INSERT [dbo].[Features] ([FeatureID], [FeatureCode], [FeatureName], [Description]) VALUES (1, N'ROOM', N'Room Management', NULL)
INSERT [dbo].[Features] ([FeatureID], [FeatureCode], [FeatureName], [Description]) VALUES (2, N'HOTEL', N'Hotel Management', NULL)
INSERT [dbo].[Features] ([FeatureID], [FeatureCode], [FeatureName], [Description]) VALUES (3, N'USER', N'User Management', NULL)
SET IDENTITY_INSERT [dbo].[Features] OFF
GO
SET IDENTITY_INSERT [dbo].[Hotels] ON 

INSERT [dbo].[Hotels] ([HotelID], [HotelName], [Description], [CreatedDate]) VALUES (1, N'Sunshine Hotel', N'Luxury hotel in city center', CAST(N'2026-05-19T14:32:03.967' AS DateTime))
INSERT [dbo].[Hotels] ([HotelID], [HotelName], [Description], [CreatedDate]) VALUES (2, N'Ocean View Resort', N'Beachside resort with sea view', CAST(N'2026-05-19T14:32:03.967' AS DateTime))
INSERT [dbo].[Hotels] ([HotelID], [HotelName], [Description], [CreatedDate]) VALUES (3, N'Mountain Inn', N'Quiet hotel near the mountains', CAST(N'2026-05-19T14:32:03.967' AS DateTime))
SET IDENTITY_INSERT [dbo].[Hotels] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([PermissionID], [PermissionCode], [PermissionName]) VALUES (1, N'READ', N'Read')
INSERT [dbo].[Permissions] ([PermissionID], [PermissionCode], [PermissionName]) VALUES (2, N'CREATE', N'Create')
INSERT [dbo].[Permissions] ([PermissionID], [PermissionCode], [PermissionName]) VALUES (3, N'UPDATE', N'Update')
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomID], [HotelID], [RoomCode], [RoomSquare], [IsActive]) VALUES (1, 1, N'101', 30, 1)
INSERT [dbo].[Rooms] ([RoomID], [HotelID], [RoomCode], [RoomSquare], [IsActive]) VALUES (3, 1, N'103', 40, 0)
INSERT [dbo].[Rooms] ([RoomID], [HotelID], [RoomCode], [RoomSquare], [IsActive]) VALUES (4, 2, N'201', 45, 1)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[UserPermissions] ON 

INSERT [dbo].[UserPermissions] ([UserPermissionID], [UserID], [FeatureID], [PermissionID]) VALUES (1, 4, 1, 1)
INSERT [dbo].[UserPermissions] ([UserPermissionID], [UserID], [FeatureID], [PermissionID]) VALUES (2, 4, 1, 2)
INSERT [dbo].[UserPermissions] ([UserPermissionID], [UserID], [FeatureID], [PermissionID]) VALUES (3, 4, 1, 3)
SET IDENTITY_INSERT [dbo].[UserPermissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Fullname], [Username], [Password]) VALUES (4, N'a', N'a', N'$2a$11$ZDaYVlnPyOf22z0fw1bjregKyWHxXhlGMyKCmNabvRagHxyQhsw4m')
INSERT [dbo].[Users] ([UserID], [Fullname], [Username], [Password]) VALUES (5, N'b', N'b', N'$2a$11$w27puhE7bQTaZJfaM6F9TOeWtlD3BYp55AluCTk86pkcR.xF.qSna')
INSERT [dbo].[Users] ([UserID], [Fullname], [Username], [Password]) VALUES (6, N'c', N'c', N'$2a$11$EuoG5PnFko8N6hta/XdveuNZAVdRTwR4yBcuCb0EuGI9ahxbfLFPK')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserSessions] ON 

INSERT [dbo].[UserSessions] ([UserSessionID], [Sid], [UserID], [RefreshTokenHash], [DeviceID], [DeviceName], [IPAddress], [UserAgent], [IsRevoked], [CreatedAt], [LastActivityAt], [ExpiredAt]) VALUES (1, N'92edf6fe-b311-4033-8509-d149f06afdda', 4, N'5VWgAYkdDuNb7qxhlOkvlqtDwxfmpkvQyWWVlf5H+AI=', NULL, N'Windows', N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36 Edg/148.0.0.0', 1, CAST(N'2026-05-28T10:57:26.693' AS DateTime), CAST(N'2026-05-29T04:42:49.007' AS DateTime), CAST(N'2026-06-04T10:57:25.870' AS DateTime))
INSERT [dbo].[UserSessions] ([UserSessionID], [Sid], [UserID], [RefreshTokenHash], [DeviceID], [DeviceName], [IPAddress], [UserAgent], [IsRevoked], [CreatedAt], [LastActivityAt], [ExpiredAt]) VALUES (2, N'9fd83df6-c6aa-4df2-a206-a4acfc483e98', 4, N'V9D/nQOM3AuaWdi6HiBKtiqPbPqjAKMSMmVNubYvWGA=', NULL, N'Windows', N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36 Edg/148.0.0.0', 1, CAST(N'2026-05-28T11:10:04.957' AS DateTime), CAST(N'2026-05-29T04:42:49.007' AS DateTime), CAST(N'2026-06-04T11:10:04.957' AS DateTime))
INSERT [dbo].[UserSessions] ([UserSessionID], [Sid], [UserID], [RefreshTokenHash], [DeviceID], [DeviceName], [IPAddress], [UserAgent], [IsRevoked], [CreatedAt], [LastActivityAt], [ExpiredAt]) VALUES (3, N'd3e288c4-5b8e-4a55-9800-e275ac159a78', 4, N'FqRME5e/d3EtYyEr6Codwx6i3oPDxDeUrHMuuuM+330=', NULL, N'Windows', N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36 Edg/148.0.0.0', 1, CAST(N'2026-05-28T11:26:31.510' AS DateTime), CAST(N'2026-05-29T04:42:49.007' AS DateTime), CAST(N'2026-06-04T11:26:31.510' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserSessions] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Features__75CE31546A82786B]    Script Date: 2026/05/29 15:45:18 ******/
ALTER TABLE [dbo].[Features] ADD UNIQUE NONCLUSTERED 
(
	[FeatureCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__91FE5750A105FA62]    Script Date: 2026/05/29 15:45:18 ******/
ALTER TABLE [dbo].[Permissions] ADD UNIQUE NONCLUSTERED 
(
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4A6D87ED3]    Script Date: 2026/05/29 15:45:18 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserSess__554CBE59D4097CD7]    Script Date: 2026/05/29 15:45:18 ******/
ALTER TABLE [dbo].[UserSessions] ADD UNIQUE NONCLUSTERED 
(
	[RefreshTokenHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserSess__CA1E5D797D91E468]    Script Date: 2026/05/29 15:45:18 ******/
ALTER TABLE [dbo].[UserSessions] ADD UNIQUE NONCLUSTERED 
(
	[Sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Hotels] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[UserSessions] ADD  DEFAULT ((0)) FOR [IsRevoked]
GO
ALTER TABLE [dbo].[UserSessions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Room_Hotel] FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotels] ([HotelID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Room_Hotel]
GO
ALTER TABLE [dbo].[UserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissions_Features] FOREIGN KEY([FeatureID])
REFERENCES [dbo].[Features] ([FeatureID])
GO
ALTER TABLE [dbo].[UserPermissions] CHECK CONSTRAINT [FK_UserPermissions_Features]
GO
ALTER TABLE [dbo].[UserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissions_Permissions] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permissions] ([PermissionID])
GO
ALTER TABLE [dbo].[UserPermissions] CHECK CONSTRAINT [FK_UserPermissions_Permissions]
GO
ALTER TABLE [dbo].[UserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissions_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserPermissions] CHECK CONSTRAINT [FK_UserPermissions_Users]
GO
ALTER TABLE [dbo].[UserSessions]  WITH CHECK ADD  CONSTRAINT [FK_UserSessions_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserSessions] CHECK CONSTRAINT [FK_UserSessions_Users]
GO
USE [master]
GO
